<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="zh-cn" />
	<title>处置-验证工具</title>
	<style>
		/*浮动*/
		.left {float:left;}
		.right {float:right;}
		.clearfix:after {visibility: hidden; display: block; clear: both; height: 0; font-size: 0; content: ".";}
		.clearfix{zoom:1;}
		div {
			border:1px dashed gray;
		}





	</style>
	<script type="text/javascript" src="static/jquery-3.2.1.min.js"></script>
	<script src="{{ 'jquery-3.2.1.min.js'|staticfile }}"></script>
</head>
	<body>
		<a href="BackEnd.say_hello_world" data-bind="true">
			Click to say "Hello, world"
		</a>
		<div>
			<form action="BackEnd.login" data-bind="true">
				用户名：<input name="userName" value="{{ userName }}"/>
				密码：<input type="password" name="passWord" value="{{ passWord }}"/>
				<input type="submit" value="Login"/>

			</form>
			<div>登录状态：{{ login_state }}</div>



		</div>
		<div><a href="BackEnd.getCookie" data-bind="true">获取cookie</a></div>
		<div>
			<div>

				<a href="#" id="yijishenhe">一级审核</a>
				<a href="#" id="erjishenhe">二级审核</a>
				<a href="#" id="sanjishenhe">三级审核（快速核验）</a>
				<a href="#" id="farenwu">发任务</a>
				<a href="#" id="yanzhengrenwu">验证任务</a>
				<a href="#" id="chuzhirenwu">处置任务</a>
				<a href="#" id="liyong">利用任务（特征提取）</a>

			</div>
			<div class="content1" id="yijishenhe">
				<div>
					搜索选项
					<a href="BackEnd.firstExamineList"></a>
				</div>
				<div>
					一级审核内容
					{% for cnvd_bianhao in cnvd_bianhaos %}
						<td>{{ cnvd_bianhao }}</td>
					{% endfor %}

				</div>



			</div>

			<div class="content1" id="erjishenhe">
				<div>
					搜索选项
					<a href="BackEnd.secondExamineList" data-bind="true">检索</a>
				</div>
				<div>
					二级审核内容
					{% for cnvd_bianhao_2 in cnvd_bianhaos_2 %}
						<td>{{ cnvd_bianhao_2 }}</td>
					{% endfor %}

				</div>


			</div>

		</div>
	</body>
<script>


$("a#yijishenhe").click(function(){$('div.content1').hide();$('div#yijishenhe').show();return false;});
$("a#erjishenhe").click(function(){$('div.content1').hide();$('div#erjishenhe').show();return false;});
$("a#sanjishenhe").click(function(){$('div.content1').hide();$('div#sanjishenhe').show();return false;});

</script>
</html>