<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="zh-cn" />
	<title>处置-验证工具</title>
	<style>

	</style>
	<!--浏览器识别-->
	<link rel="stylesheet" href="../static/base.css">
	<script type="text/javascript" src="../static/jquery-3.2.1.min.js"></script>
	<!--htmlpy识别-->
	<link rel="stylesheet" href="{{ 'base.css'|staticfile }}">
	<script src="{{ 'jquery-3.2.1.min.js'|staticfile }}"></script>
</head>
	<body>
		<!--<a href="BackEnd.say_hello_world" data-bind="true">-->
			<!--Click to say "Hello, world"-->
		<!--</a>-->
		<div>
			<form action="BackEnd.login" data-bind="true">
				用户名：<input name="userName" value="{{ userName }}"/>
				密码：<input type="password" name="passWord" value="{{ passWord }}ChiJI)@^&cnvd"/>
				<input type="submit" value="Login"/>
			</form>
			<div>登录状态：{{ login_state }}</div>

		</div>
		<!--<div><a href="BackEnd.getCookie" data-bind="true">获取cookie</a></div>-->

		<div class="clearfix">
			<div>
				<ul class="clearfix">
					<li class="left"><a href="#" id="yijishenhe">一级审核</a></li>
					<li class="left"><a href="#" id="erjishenhe">二级审核</a></li>
					<li class="left"><a href="#" id="sanjishenhe">三级审核（快速核验）</a></li>
					<li class="left"><a href="#" id="farenwu">发任务</a></li>
					<li class="left"><a href="#" id="yanzhengrenwu">验证任务</a></li>
					<li class="left"><a href="#" id="chuzhirenwu">处置任务</a></li>
					<li class="left"><a href="#" id="liyong">利用任务（特征提取）</a></li>
				</ul>
			</div>
			<!-- 一级审核 -->
			<div class="content1" id="yijishenhe">
				<div>
					搜索选项
					<a href="BackEnd.firstExamineList"></a>
				</div>
				<div>
					一级审核内容
					{% for cnvd_bianhao in cnvd_bianhaos %}
						<td>{{ cnvd_bianhao }}</td>
					{% endfor %}
				</div>
			</div>

			<!-- 二级审核 -->
			<div class="content1" id="erjishenhe">
				<div>
					搜索选项
					<form action="BackEnd.secondExamineList" data-bind="true">
						漏洞编号：<input name="bianhao_start" placeholder="CNVD-C-2017-XXXXX" onkeyup="document.getElementById('erjishenhe_search').value=this.value;"/>
						-
						<input id="erjishenhe_search" name="bianhao_stop" placeholder="CNVD-C-2017-XXXXX"/>
						<input type="submit" value="检索"/>
					</form>
				</div>
				<div class="content2">
					二级审核内容
					<table>
						{% for erjishenhe_list in erjishenhe_lists %}
						<tr>
							<form action="BackEnd.secondExamineUpdate_one" data-bind="true">
							<td><input type="checkbox" value="{{ erjishenhe_list[5] }}" name="flawId"/></td>
							<td>{{ erjishenhe_list[0] }}</td>
							<td>{{ erjishenhe_list[1] }}</td>
							<td>{{ erjishenhe_list[2] }}</td>
							<td>{{ erjishenhe_list[3] }}</td>
							<td>{{ erjishenhe_list[4] }}</td>
							<td><input type="submit" value="审核通过" onclick="return confirm('确定通过二级吗？');" /></td>
							</form>
						</tr>
						{% endfor %}
						<form action="BackEnd.secondExamineUpdate_more" data-bind="true">
							<input type="hidden" value="" name="flawIds"/>
							<input type="submit" value="批量通过" onclick="return check_refresh();" />
						</form>
					</table>
				</div>
			</div>

			<!-- 三级审核（快速核验） -->
			<div class="content1 left clearfix" id="sanjishenhe">
				<div>
					搜索选项
					<form action="BackEnd.thirdExamineList" data-bind="true">
						漏洞编号：<input name="bianhao_start" placeholder="CNVD-C-2017-XXXXX" onkeyup="document.getElementById('erjishenhe_search').value=this.value;"/>
						-
						<input id="erjishenhe_search" name="bianhao_stop" placeholder="CNVD-C-2017-XXXXX"/>
						时间：
						<select name="timeType">
							<option value="0">归档时间</option>
							<option value="1">录入时间</option>
							<option value="2" selected="selected">报送时间</option>
							<option value="3">发布时间</option>
						</select>
						<input name="storageTimeStartStr"/>-<input name="storageTimeEndStr"/>
						是否事件型：
						<select name="isEvent">
							<option value="0">否</option>
							<option value="1" selected="selected">是</option>
							<option value="">全部</option>
						</select>
						去重：
						<select name="is_repeat">
							<option value="1">否</option>
							<option value="2" selected="selected">是</option>
						</select>
						是否已作废：
						<select name="isCancel">
							<option value="0">是</option>
							<option value="1" selected="selected">否</option>
						</select>
						是否已归档：
						<select name="status">
							<option value="">未选择</option>
							<option value="1">一级审核</option>
							<option value="2">二级审核</option>
							<option value="3" selected="selected">三级审核</option>
							<option value="4">补录漏洞</option>
							<option value="5">补录待审核</option>
							<option value="9">已归档</option>
							<option value="-1">驳回</option>
							<option value="-9">驳回待审</option>
						</select>
						是否前台上报：
						<select name="isu">
							<option value="">全部</option>
							<option value="0" selected="selected">是</option>
							<option value="1">否</option>
						</select>

						<input id="sanjijiansuo" type="submit" value="检索"/>
					</form>
				</div>
				<div class="content2 left">
					三级审核内容（快速核验）(评分)
					<table>
						<tr>
							<th>flawId</th>
							<th>漏洞编号</th>
							<th>漏洞标题</th>
							<th>录入时间</th>
							<th>贡献者</th>
							<th>评分</th>

						</tr>

						{% for sanjishenhe_list in sanjishenhe_lists %}
						<tr>
							<td>{{ sanjishenhe_list[0] }}</td>
							<td>{{ sanjishenhe_list[1] }}</td>
							<td>{{ sanjishenhe_list[2] }}</td>
							<td>{{ sanjishenhe_list[3] }}</td>
							<td>{{ sanjishenhe_list[4] }}</td>
							<td>{{ sanjishenhe_list[5] }}
								<form action="BackEnd.calScoreCreate" data-bind="true">
									<input type="hidden" value="{{ sanjishenhe_list[0] }}" name="flawId"/>
									<input type="submit" value="去评分"/>
								</form>
							</td>
						</tr>
						{% endfor %}
					</table>
				</div>
				<div class="content3 left">
					<form action="BackEnd.calScore" data-bind="true">
						flawId:<input type="text" name="flawId" value="{{ flawId }}" readOnly="true"/>
						<input type="hidden" name="basemetric.id" value="{{ basemetric_id }}"  />
						<input type="hidden" name="temporalMetric.id" value="{{ temporalMetric_id }}" />
						<input type="hidden" name="environmentalMetric.id" value="{{ environmentalMetric_id }}" />
						<input type="hidden" name="freshId" value="{{ freshId }}"/>
						<br />攻击途径：
						<select name="accessVector.id">
							<option value="3" selected="selected">远程网络</option>
							<option value="2">邻近网络</option>
							<option value="1">本地</option>
						</select>
						<br />攻击复杂度：
						<select name="accessComplexity.id">
							<option value="6" selected="selected">低</option>
							<option value="5">中</option>
							<option value="4">高</option>
						</select>
						<br />认证：
						<select name="authentication.id">
							<option value="9" selected="selected">不需要认证</option>
							<option value="8">一次</option>
							<option value="7">多次</option>
						</select>
						<br />机密性：
						<select name="confidentialityImpact.id">
							<option value="10" selected="selected">不受影响</option>
							<option value="12">完全地</option>
							<option value="11">部份地</option>
						</select>
						<br />完整性：
						<select name="integrityImpact.id">
							<option value="13" selected="selected">不受影响</option>
							<option value="15">完全地</option>
							<option value="14">部份地</option>
						</select>
						<br />可用性：
						<select name="availabilityImpact.id">
							<option value="16" selected="selected">不受影响</option>
							<option value="18">完全地</option>
							<option value="17">部份地</option>
						</select>
						<input type="hidden" name="exploitability.id" value="21"/>
						<input type="hidden" name="remediationLevel.id" value="25"/>
						<input type="hidden" name="reportConfidence.id" value="31"/>
						<input type="hidden" name="collateralDamagePotential.id" value="36"/>
						<input type="hidden" name="targetDistribution.id" value="41"/>
						<input type="hidden" name="confidentialityRequire.id" value="45"/>
						<input type="hidden" name="integrityRequire.id" value="49"/>
						<input type="hidden" name="availabilityRequire.id" value="53"/>
						<input type="submit" value="提交评分"/>
					</form>
					<br />模板：
					<button onclick="sqlin_pingfen();">SQL注入</button>
					<button onclick="re_pingfen();">远程命令执行</button>
				</div>
			</div>

		</div>
	</body>
<script>

$("a#yijishenhe").click(function(){$('div.content1').hide();$('div#yijishenhe').show();return false;});
$("a#erjishenhe").click(function(){$('div.content1').hide();$('div#erjishenhe').show();return false;});
$("a#sanjishenhe").click(function(){$('div.content1').hide();$('div#sanjishenhe').show();return false;});

$(document).ready(function(){
	//隔行变色
	$("tr:even").css("background-color","#FFFFCC");
	//补齐两位数
	function padleft0(obj) {
		return obj.toString().replace(/^[0-9]{1}$/, "0" + obj);
	}
	//初始化时间输入框
	var d = new Date(),str = '';
	str += d.getFullYear()+'-';
	str += padleft0(d.getMonth()+1)+'-';
	str += padleft0(d.getDate()-1);
	$('input[name="storageTimeStartStr"]').val(str);
	var d = new Date(),str = '';
	str += d.getFullYear()+'-';
	str += padleft0(d.getMonth()+1)+'-';
	str += padleft0(d.getDate());
	$('input[name="storageTimeEndStr"]').val(str);
});

function check_refresh(){
	var chk_value =[];
	$('input[name="flawId"]:checked').each(function(){
	chk_value.push($(this).val());
	});
	if (chk_value.length==0){
		alert('你还没有选择任何内容！');
		return false;
	}else{
		alert(chk_value);
		$('input[name="flawIds"]').val(chk_value);
		return confirm('确定通过所选的吗？');
	}
}


function sqlin_pingfen(){
	$("select[name='confidentialityImpact.id']").find("option").attr("selected",false);
	$("select[name='confidentialityImpact.id']").find("option[value='12']").attr("selected",true);
	$("select[name='integrityImpact.id']").find("option").attr("selected",false);
	$("select[name='integrityImpact.id']").find("option[value='13']").attr("selected",true);
	$("select[name='availabilityImpact.id']").find("option").attr("selected",false);
	$("select[name='availabilityImpact.id']").find("option[value='16']").attr("selected",true);
}
function re_pingfen(){
	$("select[name='confidentialityImpact.id']").find("option").attr("selected",false);
	$("select[name='confidentialityImpact.id']").find("option[value='12']").attr("selected",true);
	$("select[name='integrityImpact.id']").find("option").attr("selected",false);
	$("select[name='integrityImpact.id']").find("option[value='15']").attr("selected",true);
	$("select[name='availabilityImpact.id']").find("option").attr("selected",false);
	$("select[name='availabilityImpact.id']").find("option[value='18']").attr("selected",true);
}

</script>
</html>