<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="zh-cn" />
	<title>处置-验证工具</title>
	<style>

	</style>
	<!--浏览器识别-->
	<link rel="stylesheet" href="static/base.css">
	<script type="text/javascript" src="static/jquery-3.2.1.min.js"></script>
	<!--htmlpy识别-->
	<link rel="stylesheet" href="{{ 'base.css'|staticfile }}">
	<script src="{{ 'jquery-3.2.1.min.js'|staticfile }}"></script>
</head>
	<body>
		<!--<a href="BackEnd.say_hello_world" data-bind="true">-->
			<!--Click to say "Hello, world"-->
		<!--</a>-->
		<div>
			<form action="BackEnd.login" data-bind="true">
				用户名：<input name="userName" value="{{ userName }}"/>
				密码：<input type="password" name="passWord" value="{{ passWord }}ChiJI)@^&cnvd"/>
				<input type="submit" value="Login"/>
			</form>
			<div>登录状态：{{ login_state }}</div>

		</div>
		<!--<div><a href="BackEnd.getCookie" data-bind="true">获取cookie</a></div>-->
		<div>
			<div>

				<a href="#" id="yijishenhe">一级审核</a>
				<a href="#" id="erjishenhe">二级审核</a>
				<a href="#" id="sanjishenhe">三级审核（快速核验）</a>
				<a href="#" id="farenwu">发任务</a>
				<a href="#" id="yanzhengrenwu">验证任务</a>
				<a href="#" id="chuzhirenwu">处置任务</a>
				<a href="#" id="liyong">利用任务（特征提取）</a>

			</div>
			<div class="content1" id="yijishenhe">
				<div>
					搜索选项
					<a href="BackEnd.firstExamineList"></a>
				</div>
				<div>
					一级审核内容
					{% for cnvd_bianhao in cnvd_bianhaos %}
						<td>{{ cnvd_bianhao }}</td>
					{% endfor %}

				</div>



			</div>

			<div class="content1" id="erjishenhe">
				<div>
					搜索选项
					<form action="BackEnd.secondExamineList" data-bind="true">
						漏洞编号：<input name="bianhao_start" placeholder="CNVD-C-2017-XXXXX" onkeyup="document.getElementById('erjishenhe_search').value=this.value;"/>
						-
						<input id="erjishenhe_search" name="bianhao_stop" placeholder="CNVD-C-2017-XXXXX"/>
						<input type="submit" value="检索"/>
					</form>
				</div>
				<div>
					二级审核内容
					<table>

						{% for erjishenhe_list in erjishenhe_lists %}
						<tr>
							<form action="BackEnd.secondExamineUpdate_one" data-bind="true">
							<td><input type="checkbox" value="{{ erjishenhe_list[5] }}" name="flawId"/></td>
							<td>{{ erjishenhe_list[0] }}</td>
							<td>{{ erjishenhe_list[1] }}</td>
							<td>{{ erjishenhe_list[2] }}</td>
							<td>{{ erjishenhe_list[3] }}</td>
							<td>{{ erjishenhe_list[4] }}</td>
							<td><input type="submit" value="审核通过" onclick="return confirm('确定通过二级吗？');" /></td>
							</form>
						</tr>
						{% endfor %}
						<form action="BackEnd.secondExamineUpdate_more" data-bind="true">
							<input type="hidden" value="" name="flawIds"/>
							<input type="submit" value="批量通过" onclick="check_refresh();" />
						</form>

					</table>

				</div>


			</div>

		</div>
	</body>
<script>

$("a#yijishenhe").click(function(){$('div.content1').hide();$('div#yijishenhe').show();return false;});
$("a#erjishenhe").click(function(){$('div.content1').hide();$('div#erjishenhe').show();return false;});
$("a#sanjishenhe").click(function(){$('div.content1').hide();$('div#sanjishenhe').show();return false;});
//隔行变色
$(document).ready(function(){
	$("tr:even").css("background-color","#FFFFCC");
});

function check_refresh(){

	var chk_value =[];
	$('input[name="flawId"]:checked').each(function(){
	chk_value.push($(this).val());
	});
	alert(chk_value.length==0 ?'你还没有选择任何内容！':chk_value);
	$('input[name="flawIds"]').val(chk_value);
	return confirm('确定通过所选的吗？');

}


</script>
</html>